.footer {
  width: 100%;
  padding: 20px 0;
  background: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  color:#70757a;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.copy {
  font-size: 13px;
  color: #70757a;
}
