.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  /* background: #ffffff; */
  /* border: 1px solid black; */
  margin-top: 100px;
}

.logo {
  width: 500px;
  margin-bottom: 30px;
}







.searchForm {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.searchWrapper {
  position: relative;
  border: 1px solid black;
  border: 1px solid #dcdcdc;
}

.searchInput {
  width: 800px;
  max-width: 85%;
  padding: 12px 40px 12px 20px;
  font-size: 18px;

  border: 1px solid #dcdcdc;
  border-right: none;
  border: none;
  /* border-radius: 50px 0 0 50px; */
  outline: none;
}

/* .searchInput:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} */









/* ❌ Clear icon inside input */
.clearIcon {
  position: absolute;
  /* right: 14px; */
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.6;
  /* border: 1px solid black; */
  margin-left: 30px;
}

.clearIcon:hover {
  opacity: 1;
}

/* 🔍 Search button */
.searchButton {
  height: 46px;
  padding: 0 18px;

  border: 1px solid #dcdcdc;
  border-left: none;
  /* border-radius: 0 50px 50px 0; */

  background: #f8f9fa;
  cursor: pointer;
}

.searchButton img {
  width: 20px;
  height: 20px;
}

.searchButton:hover {
  background: #f1f3f4;
}

.informationText{
  text-align: center;
  color: rgb(84, 84, 255);
  margin-top: 50px;
}






@media (max-width: 600px) {
  .logo {
    width: 150px;
  }

  .searchInput {
    width: 90%;
    font-size: 16px;
  }
}


